.cart-top{
	height: 25px;
	line-height: 25px;
	background-image:
	linear-gradient(to bottom,#FFF0F5,#FF7F50 80%,#D2691E);
	padding: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #eee;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	border-bottom: 1px solid #FF7F50;
	border-radius: 3px 3px 0 0;
}

.cart-fl{
	display: inline-block;
	font-size: 14px;
}
.cart-fr{
	float: right;
}
/******购物车物品列表样式********/
.cart-item{
	line-height: 25px;
	padding: 10px 10px 10px 15px;
	font-weight: bold;
	background-image: linear-gradient(to bottom,#FFC0CB,#FFF0F5);
	overflow: hidden;
}
.pic{
	float: left;
	margin-bottom:5px;
	margin-right:5px;
}

.des{
	float: left;
	color: #eee;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

.price{
	float: right;
	color: #eee;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
/*购物车总计样式*/
.sum{
	line-height: 32px;
	padding: 10px 10px 10px 15px;
	font-weight: bold;
	background-image: linear-gradient(to bottom,#D3D3D3,#E0FFFF);
}

/*购物车按钮样式*/
.cart-button{
	float: right;
/*margin-left: 120px;*/
	line-height: 29px;
	padding: 0 25px;
	color: white;
	border-radius: 4px;
	background-image: linear-gradient(to bottom,#B0C4DE, #87CEFA);
}

