<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c794530022b74f60afa45e2300842fc9" class="chart-container" style="width:1200px; height:600px;"></div>
    <script>
        var chart_c794530022b74f60afa45e2300842fc9 = echarts.init(
            document.getElementById('c794530022b74f60afa45e2300842fc9'), 'white', {renderer: 'canvas'});
        var option_c794530022b74f60afa45e2300842fc9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "data": [
                {
                    "name": "20-99\u4eba",
                    "value": 175
                },
                {
                    "name": "100-499\u4eba",
                    "value": 138
                },
                {
                    "name": "1000-9999\u4eba",
                    "value": 77
                },
                {
                    "name": "10000\u4eba\u4ee5\u4e0a",
                    "value": 54
                },
                {
                    "name": "20\u4eba\u4ee5\u4e0b",
                    "value": 38
                },
                {
                    "name": "\u4e0d\u9650",
                    "value": 33
                },
                {
                    "name": "500-999\u4eba",
                    "value": 19
                }
            ],
            "sort": "descending",
            "gap": 2,
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": "{a} <br/>{b} : {c}%",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            },
            "itemStyle": {
                "borderColor": "#fff",
                "borderWidth": 1
            }
        }
    ],
    "legend": [
        {
            "data": [
                "1000-9999\u4eba",
                "20-99\u4eba",
                "20\u4eba\u4ee5\u4e0b",
                "10000\u4eba\u4ee5\u4e0a",
                "\u4e0d\u9650",
                "500-999\u4eba",
                "100-499\u4eba"
            ],
            "selected": {
                "20-99\u4eba": true,
                "100-499\u4eba": true,
                "1000-9999\u4eba": true,
                "10000\u4eba\u4ee5\u4e0a": true,
                "20\u4eba\u4ee5\u4e0b": true,
                "\u4e0d\u9650": true,
                "500-999\u4eba": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5170\u5dde\u5de5\u4f5c\u5c97\u4f4d\u6240\u5728\u516c\u53f8\u89c4\u6a21\u6f0f\u6597\u56fe"
        }
    ]
};
        chart_c794530022b74f60afa45e2300842fc9.setOption(option_c794530022b74f60afa45e2300842fc9);
    </script>
</body>
</html>
