<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7de9d4c581974299b13e395925baa78b" class="chart-container" style="width:1600px; height:800px;"></div>
    <script>
        var chart_7de9d4c581974299b13e395925baa78b = echarts.init(
            document.getElementById('7de9d4c581974299b13e395925baa78b'), 'white', {renderer: 'canvas'});
        var option_7de9d4c581974299b13e395925baa78b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u5b66\u5386\u8981\u6c42",
            "clockwise": true,
            "data": [
                {
                    "name": [
                        "\u5927\u4e13"
                    ],
                    "value": 259
                },
                {
                    "name": [
                        "\u5b66\u5386\u4e0d\u9650"
                    ],
                    "value": 144
                },
                {
                    "name": [
                        "\u672c\u79d1"
                    ],
                    "value": 86
                }
            ],
            "radius": [
                0,
                "30%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "inner",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "pie",
            "name": "\u5b66\u5386\u8981\u6c42",
            "clockwise": true,
            "data": [
                {
                    "name": [
                        "\u5927\u4e13"
                    ],
                    "value": 259
                },
                {
                    "name": [
                        "\u5b66\u5386\u4e0d\u9650"
                    ],
                    "value": 144
                },
                {
                    "name": [
                        "\u672c\u79d1"
                    ],
                    "value": 86
                },
                {
                    "name": [
                        "\u4e2d\u4e13"
                    ],
                    "value": 32
                },
                {
                    "name": [
                        "\u4e2d\u6280"
                    ],
                    "value": 6
                },
                {
                    "name": [
                        "\u9ad8\u4e2d"
                    ],
                    "value": 4
                },
                {
                    "name": [
                        "\u7855\u58eb"
                    ],
                    "value": 3
                }
            ],
            "radius": [
                "40%",
                "55%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "outside",
                "margin": 8,
                "formatter": "{a|{a}}{abg|}\n{hr|}\n {b|{b}: }{c}  {per|{d}%}  ",
                "backgroundColor": "#eee",
                "borderColor": "#aaa",
                "borderWidth": 1,
                "borderRadius": 4,
                "rich": {
                    "a": {
                        "color": "#999",
                        "lineHeight": 22,
                        "align": "center"
                    },
                    "abg": {
                        "backgroundColor": "#e3e3e3",
                        "width": "100%",
                        "align": "right",
                        "height": 22,
                        "borderRadius": [
                            4,
                            4,
                            0,
                            0
                        ]
                    },
                    "hr": {
                        "borderColor": "#aaa",
                        "width": "100%",
                        "borderWidth": 0.5,
                        "height": 0
                    },
                    "b": {
                        "fontSize": 16,
                        "lineHeight": 33
                    },
                    "per": {
                        "color": "#eee",
                        "backgroundColor": "#334455",
                        "padding": [
                            2,
                            4
                        ],
                        "borderRadius": 2
                    }
                }
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                [
                    "\u5927\u4e13"
                ],
                [
                    "\u5b66\u5386\u4e0d\u9650"
                ],
                [
                    "\u672c\u79d1"
                ],
                [
                    "\u4e2d\u4e13"
                ],
                [
                    "\u4e2d\u6280"
                ],
                [
                    "\u9ad8\u4e2d"
                ],
                [
                    "\u7855\u58eb"
                ]
            ],
            "selected": {},
            "show": true,
            "left": "left",
            "orient": "vertical"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5170\u5dde\u5de5\u4f5c\u5c97\u4f4d\u7684\u5b66\u5386\u8981\u6c42\u997c\u56fe"
        }
    ]
};
        chart_7de9d4c581974299b13e395925baa78b.setOption(option_7de9d4c581974299b13e395925baa78b);
    </script>
</body>
</html>
