<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="aa00ac7ddb224c9ca2327f6729c974b6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_aa00ac7ddb224c9ca2327f6729c974b6 = echarts.init(
            document.getElementById('aa00ac7ddb224c9ca2327f6729c974b6'), 'white', {renderer: 'canvas'});
        var option_aa00ac7ddb224c9ca2327f6729c974b6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5de5\u4f5c\u5c97\u4f4d",
            "data": [
                407,
                65,
                19,
                17,
                15,
                4,
                4,
                2,
                1
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5de5\u4f5c\u5c97\u4f4d"
            ],
            "selected": {
                "\u5de5\u4f5c\u5c97\u4f4d": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5170\u5dde",
                "\u5170\u5dde-\u57ce\u5173\u533a",
                "\u5170\u5dde-\u5b89\u5b81\u533a",
                "\u5170\u5dde-\u4e03\u91cc\u6cb3\u533a",
                "\u5170\u5dde-\u5170\u5dde\u65b0\u533a",
                "\u5170\u5dde-\u6986\u4e2d\u53bf",
                "\u5170\u5dde-\u897f\u56fa\u533a",
                "\u5170\u5dde-\u7ea2\u53e4\u533a",
                "\u5170\u5dde-\u768b\u5170\u53bf"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5170\u5dde\u62db\u8058\u5c97\u4f4d\u5206\u5e03\u67f1\u72b6\u56fe"
        }
    ]
};
        chart_aa00ac7ddb224c9ca2327f6729c974b6.setOption(option_aa00ac7ddb224c9ca2327f6729c974b6);
    </script>
</body>
</html>
