@charset="UTF-8";
*{
	padding: 0px;
	margin: 0px;
}
div{
	width: 300px;
	height: 100px;
  }

#div1{
	background: rgba(255,0,0,0.5);
/*	position:relative;*/ 
	position: absolute;
	/*left: 150px;*/
}
#div2{
	background: rgba(0,255,0,0.5);
/*	position:relative;*/ 
	position: absolute; 
	left: 300px;
}
#div3{
	background: rgba(0,0,255,0.5);
/*	position:relative;*/ 
	position: absolute;
	left: 450px; 
}