@charset="UTF-8";
div{
	width: 600px;
	height: 800px;
	padding: 40px;
	font-size: 12px;
	line-height: 25px;
	border:20px ridge rgba(200,60,30,0.6);	

	background-image:  url(../img/xzsc/sc16.png),
						url(../img/xzsc/sc17.png),
						url(../img/xzsc/sc5.png);
	background-repeat:no-repeat,no-repeat,repeat;
	background-size: 25%,25%,auto;
	background-position: left top,right bottom,left top;
	background-clip:border-box,border-box,content-box;
	
}
