.title{
    background-image:linear-gradient(to bottom,#DAAAAA,#E87373 80%,#DAAAAA);
	 height: 30px;
    line-height: 30px;
}

.main{
    width: 320px;
    color:  #000;
    background: #eee;
}

.sp{
     width: 50%;
     float: left;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     background: #a9a9a9; 
     text-align: center;  
}

