/*公共部分*/
*{
	margin: 0;
	padding: 0;
}
.html,body,.wrap{
	height: 100%;
	width: 100%;
}

body{
	background: rgba(90,60,30,0.3);
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #fff;
}

a:active{
	text-decoration: underline;
	color: #000;
}
/*header部分*/
header{
	background:rgba(120,30,30,0.6);
	width: 100%;
	height: 50px;
	display: flex;
	font-size: 10px;
	color: #fff;
}

.ff{
	width: 40px;
	height: 50px;
}

.frp,.flp{
	height: 20px;
	width: 25px;
	margin: 8px 8px auto;
}

.ss{
	flex: 1;
	margin: 10px 0;
	height:30px;
	border-radius: 5px;
	background-image:url(../image/search.png), url(../image/ht.png); 
	background-size:20px,20px;
	background-repeat: no-repeat;
	background-position:left,right;
}

header figcaption{
	text-align: center;
}
/*footer部分*/
footer{
	width: 100%;
	height: 50px;
	background:rgba(90,60,30,1); 
	position: fixed;
	bottom: 0;
}

#footer_list .list_li{
    float: left;
    height: 50px;
    line-height: 50px;
    width: 25%;
    font-size: 10px;
    text-align: center;
}

#footer_list .list_li:nth-child(1){
	background: url(../image/icon_tab_home_nomal.png) no-repeat;
	background-size: 22px 21px;
	background-position: top;
}

#footer_list .list_li:nth-child(1):active{
	background: url(../image/icon_tab_home_selected.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(2){
	background: url(../image/icon_tab_featured_normal.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(2):active{
	background: url(../image/icon_tab_featured_selected.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(3){
	background: url(../image/icon_tab_cart_normal.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(3):active{
	background: url(../image/icon_tab_cart_selected.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(4){
	background: url(../image/bottombtn0201.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}

#footer_list .list_li:nth-child(4):active{
	background: url(../image/bottombtn0202.png) no-repeat;
    background-size: 22px 21px;
    background-position: top;
}


