@font-face {
font-family: 'jin_mei_mxplzx562470';
src: url('jin_mei_mxplzx.eot');
src: url('jin_mei_mxplzx.eot?#iefix') format('embedded-opentype'),
     url('jin_mei_mxplzx.woff') format('woff'),
     url('jin_mei_mxplzx.ttf') format('truetype'),
     url('jin_mei_mxplzx.svg#jin_mei_mxplzx') format('svg');
    font-weight: normal;
    font-style: normal;
   }