@font-face {
font-family: 'winmantun23001562426';
src: url('winmantun23001.eot');
src: url('winmantun23001.eot?#iefix') format('embedded-opentype'),
     url('winmantun23001.woff') format('woff'),
     url('winmantun23001.ttf') format('truetype'),
     url('winmantun23001.svg#winmantun23001') format('svg');
    font-weight: normal;
    font-style: normal;
   }